img:hover{transform: scale(1.1);}
body {background-color:lightslategray;}
p{color:whitesmoke;}
h1{color:antiquewhite;}
h2{color:floralwhite;}
button{color:black;}
    button:hover {
        color: aquamarine;
        background-color: deepskyblue;
        transform: scale(1.1)
    }